langchain==0.2.17
langchain-core==0.2.43
langchain-google-genai==1.0.10
google-generativeai==0.8.6
newsapi-python 
requests
google.genai      
bcrypt
GoogleNews
spacy
scikit-learn
numpy
python-dotenv
pandas